body{
  background-color: #504A4A;
}

h2 {
  color: white;
}
.panel{
  background-color: #504A4A;
  border: solid 1px white;
  text-align: center;
  height: 450px;
}
.panel > .panel-heading{
  background-color: #F78F3F;
}
.charDescription{
  color: #E23636;
}
.charImage{
  border-radius: 100%;
}