body{
  background-color: #504A4A;
}

h2 {
  color: white;
}

.panel > .panel-heading{
  background-color: #F78F3F;
}

.panel {
  background-color: #504A4A;
  border: solid 1px white;
  text-align: center;
  height: 450px;
}

.charDescription {
  color: #E23636;
}

.charImage{
  border-radius: 100%;
}

.maleImage {
  border: 5px solid #518CCA;
}

.femaleImage{
  border: 5px solid pink;
}